:root{
  --background-color: white;
  --border-color: black;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--background-color);
}

.main-container{
  border: 2px solid var(--border-color);
  padding: 30px 20px;
  border-radius: 10px;
  width: fit-content;
  margin: 50px auto;
}

.streak-container {
  display: flex;
}

.streak-container div {
  border: 2px solid var(--border-color);
  border-radius: 7px;
}

.score-card{
  display: flex;
}

.score-card div{
  border: 2px solid var(--border-color);
  border-radius: 7px;
}